// SECTION values :: START

section#a-values.a-values
  .c-grid
    .a-values__wrapper
      .a-values__wrapper-left

        p.a-values__title!= "Our Values"

      .a-values__wrapper-right

        ul.a-values__list
          li.a-values__list-item
            div
              .a-values__list-circle
                +iconSVG('a-values-0')

            div
              p.a-values__list-title!= "COMMITMENT"
              p.a-values__list-desc!= "We deliver on our promises. Commited to client satisfaction, we avoid conflict of interest."

          li.a-values__list-item
            div
              .a-values__list-circle
                +iconSVG('a-values-1')

            div
              p.a-values__list-title!= "TRANSPARENCY"
              p.a-values__list-desc!= "We take pride in being at the forefront of industry reform and driving transparency as a proof of the full alignment of interest between IFX and its clients."


          li.a-values__list-item
            div
              .a-values__list-circle
                +iconSVG('a-values-2')

            div
              p.a-values__list-title!= "TRUST"
              p.a-values__list-desc!= "We value and nurture long-term relationships of mutual trust and respect. Our open door policy ensures that you feel part of the IFX Family."


// SECTION values :: END